.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  color: #F2F2F2;
  font-family: Verdana, "微軟正黑體", "Microsoft JhengHei", sans-serif;
  text-align: center;
}

.title {
  font-size: 120pt;
}

.keywordContainer {

}

.keyword {
  font-size: 60pt;
}
